spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/users
    username: admin
    password: admin

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        jdbc:
          time_zone: UTC

    show-sql: true
  liquibase:
    enabled: true
    change-log: classpath:db/migration/db.migration-master.yaml